.customCursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    background: transparent;
    transition: all 0.3s ease;
  }
  
  .cursorDot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    opacity: 1;

    position: absolute;
    transform: translate(-50%, -50%);

    transition: opacity 0.3s ease;
  }
  
  .cursorBorder {
    width: 28px;
    height: 28px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transition: transform 0.15s ease, width 0.15s ease, height 0.15s ease;
  }
