.headingTitle{
    position: relative;
}

.heroTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    font-size: 100px;
    text-transform: uppercase;
    pointer-events: none;
    text-wrap: nowrap;

    font-family: 'aqua', serif;

}

.morphContainer{
    border-radius: 5px;
}

.heroSection{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.heroText{
    position: absolute;
    z-index: 1;
    // background-color: aqua;
    bottom: 0;
    right: -270px;
    max-width: 250px;
}


.heroContent{
    position: relative;
}