* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "aqua";
  src: url("../assets/fonts/aqua.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 30px;
}

.navLinksContainer {
  list-style: none;
  display: flex;
}
.navLinksContainer li {
  padding: 15px 25px;
}

.headingTitle {
  position: relative;
}

.heroTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  text-transform: uppercase;
  pointer-events: none;
  text-wrap: nowrap;
  font-family: "aqua", serif;
}

.morphContainer {
  border-radius: 5px;
}

.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}