* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  color: #1D1D1F;
}

body {
  margin-bottom: 1000px;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

@font-face {
  font-family: "aqua";
  src: url("../assets/fonts/aqua.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1D1D1F;
  border-radius: 10px;
}

.customCursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  background: transparent;
  transition: all 0.3s ease;
}

.cursorDot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.cursorBorder {
  width: 28px;
  height: 28px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition: transform 0.15s ease, width 0.15s ease, height 0.15s ease;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  padding: 10px 30px;
}

.navLinksContainer {
  list-style: none;
  display: flex;
}
.navLinksContainer li {
  padding: 15px 25px;
}

.headingTitle {
  position: relative;
}

.heroTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  text-transform: uppercase;
  pointer-events: none;
  text-wrap: nowrap;
  font-family: "aqua", serif;
}

.morphContainer {
  border-radius: 5px;
}

.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.heroText {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -270px;
  max-width: 250px;
}

.heroContent {
  position: relative;
}